@page
@model WeMeakKit_FE_WebAdmin.Pages.Staff.Ingredient.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="d-flex justify-content-end mb-3">
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </div>

    <div class="row">
        @foreach (var item in Model.ingredientList)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@item.Img" class="card-img-top fixed-size-img" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        @* @if (item.IngredientCategoryId. != 0)
                        {
                            <ul class="list-unstyled">
                                @foreach (var rc in item.RecipeCategories)
                                {
                                    <li class="badge badge-primary mr-1">@rc.Category.Name</li>
                                }
                            </ul>
                        } *@
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary mt-2">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" asp-page="./Index" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" asp-page="./Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-page="./Index" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    .fixed-size-img {
        height: 200px;
        object-fit: cover;
    }

    .card {
        border-radius: 15px;
        overflow: hidden;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .badge-primary {
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }
</style>
